@model IEnumerable<EFA_DEMO.Models.UserView>

<h2>Usagers en ligne</h2>
<hr />

@if (Model.Count() > 1)
{
    foreach (var item in Model)
    {
        if (OnlineUsers.CurrentUser.Id != item.Id)
        {
            @Helper.AvatarUser(item)
        }
    }
}
else
{
    <span>Aucun usager autre que vous est en ligne</span>
}

<hr />
